<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Wireless</title>
    <link href="../static/indexStyle.css" rel="stylesheet">
</head>
<body>
<div class="NavBar">
    <div class="title_logo">
        <img class="logo" src="../static/images/signal-tower.png">
        <h1>Online Calculator for Wireless and Mobile Networks Course</h1>
        </div>

    </div>

<div class="About_Box">
    <div class="About">
        <h1>About the website!</h1>
        <p>This is a calculator website was made by:<br> <br> Malak Nassar 1200757 <br> <br>  Hazar Michael 1201838 <br> <br>
        </p>
        <a class="ChooseOperation"
           href="{{ url_for('operations') }}">Operation Menu</a>
    </div>


</div>
</body>